@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@300&family=Noto+Sans:wght@300&family=Open+Sans:wght@300&family=Pathway+Extreme:wght@300&family=Raleway:wght@300&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #242a28; */
  background: radial-gradient(#2c0136, #110013);
  color: #e1eeeb;
}

.header {
  text-align: center;
  margin: 3rem auto;
}


.header img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  background-color: transparent;
}

.header h1 {
  font-size: 1.5rem;
}

.form {
  padding: 1rem;
  max-width: 30rem;
  margin: 2rem auto;
  border-radius: 4px;
  background: linear-gradient(180deg, #66168b, #2c0231);
}

.input-group {
  display: flex;
  justify-content: space-evenly;
  gap: 1.5rem;
}

.form label {
  display: block;
  margin-bottom: 0.25rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

.form input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #29003a;
  border-radius: 0.25rem;
  background-color: transparent;
  color: #fbfffe;
  font-size: 1rem;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  background: linear-gradient(180deg, #411f58, #391749);
  color: #c2e9e0;
  font-family: 'Roboto Condensed', sans-serif;
  cursor: pointer;
}

.buttonAlt {
  font-family: 'Roboto Condensed', sans-serif;
  border: none;
  background: transparent;
  color: #e6e5e7;
  cursor: pointer;
}

button:hover {
  background: linear-gradient(180deg, #8737d1, #b207e6);
}

.buttonAlt:hover {
  background: transparent;
  color: #9f00d4;
}

.result {
  max-width: 50rem;
  margin: 2rem auto;
  padding: 1rem;
  table-layout: fixed;
  border-spacing: 1rem;
  text-align: right;
}

.result thead {
  font-size: 0.7rem;
  color: #9616d1;
}

.result tbody {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.85rem;
  color: #c2e9e0;
}

.placeholder-div {
  max-width: 50rem;
  margin: auto;
  padding: 1rem;
  border-spacing: 1rem;
  text-align: center;
}